<!DOCTYPE html>
<html>
<head>
	<title>EJ</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
</head>
<body>
<div class="fixed ui inverted menu">
	<div class="container">
		<div class="header item"><i class="code icon"></i>EJ</div>
		<a href="/blogs" class="item">Home</a>
		<a href="/blogs/new" class="item">New</a>
	</div>
</div>
