<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width">
	<title>EJ</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/paralax.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/slidingPanels.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/projects.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/dropdown.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bioParalax.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/projectsParalax.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/hobbiesParalax.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/landingParalax.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/refferenceParalax.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/hobbies.css">
	<link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>
	
	
	
	<script type="text/javascript" src="/scripts/jquery.min.js"></script>
	<script type="text/javascript" src="/scripts/ScrollMagic-master/js/lib/highlight.pack.js"></script>
	<script type="text/javascript" src="/scripts/ScrollMagic-master/js/lib/modernizr.custom.min.js"></script>
	<script type="text/javascript" src="/scripts/ScrollMagic-master/js/examples.js"></script>
	<script type="text/javascript" src="/scripts/ScrollMagic-master/js/lib/greensock/TweenMax.min.js"></script>
	<script type="text/javascript" src="/scripts/ScrollMagic-master/scrollmagic/uncompressed/ScrollMagic.js"></script>
	<script type="text/javascript" src="/scripts/ScrollMagic-master/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
	<script type="text/javascript" src="/scripts/ScrollMagic-master/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
	

</head>
<body>
<div class="fixed ui inverted menu">
	<div class="container">
		<div class="header item"><i class="code icon"></i>EJ</div>
		<a href="/" class="item" id="/">HOME</a>				
		<div class="dropdown">
			<a class="dropbtn item" href="/bio" id="/bio">BIO</a>
			<div class="dropdown-content" style="left:0;">
				<a href="/bio/#earlyLife">Early Life</a>
				<a href="/bio/#university">University</a>
				<a href="/bio/#theNewPath">The New Path</a>
				<a href="/bio/#bachelorsDegree">Bacherlors Degree</a>
				<a href="/bio/#workingAtLek">Working at Lek</a>
				<a href="/bio/#now">Now</a>
			</div>
		</div>
		<div class="dropdown">
			<a class="dropbtn item" href="/competences" id="/competences">COMPETENCES</a>
			<div class="dropdown-content" style="left:0;">
				<a id="CS" class="competencesClickable">Computer Science</a>
				<a id="BY" class="competencesClickable">Biochemistry</a>
				<a id="LS" class="competencesClickable">Language Skills</a>
				<a id="SS" class="competencesClickable">Soft Skills</a>
			</div>
		</div>
		<div class="dropdown">
			<a class="dropbtn item" href="/projects" id="/projects">PROJECTS</a>
			<div class="dropdown-content" style="left:0;">
				<a href="/projects/#gradThesis">Graduation Thesis</a>
				<a href="/projects/#autoDecode">Automatic Decyphering Of Substitution Cyphers</a>
				<a href="/projects/#mysite">My Website</a>
			</div>
		</div>
		<div class="dropdown">
			<a class="dropbtn item" href="/refferences" id="/refferences">REFFERENCES</a>
			<div class="dropdown-content" style="left:0;">
				<a href="/refferences/#diploma">Bachelors Degree</a>
				<a href="/refferences/#UML">Machine Learning A-Z</a>
				<a href="/refferences/#webDev">Web Development Bootcamp</a>
			</div>
		</div>
		<div class="dropdown">
			<a class="dropbtn item" href="/hobbies" id="/hobbies">HOBBIES</a>
			<div class="dropdown-content" style="left:0;">
				<a href="/hobbies/#basket">Basketball</a>
				<a href="/hobbies/#diving">Diving</a>
				<a href="/hobbies/#hiking">Hiking</a>
				<a href="/hobbies/#games">Video Games</a>
			</div>
		</div>	
	</div>
</div>

<script>
	var activePage = <%- JSON.stringify(page) %>
</script>
<script type="text/javascript" src="/scripts/setActive.js"></script>
<script type="text/javascript" src="/scripts/scroolToLocation.js"></script>


