<%include ./partials/header%>

<div class="mb_parallax_container" id="mb_parallax_one_bio">
    <div class="titleWrapp">
        <div class="page title">
            <div>BIO</div>
        </div>
    </div>
  <a name="earlyLife"></a>
  <div class="mb_parallax_overlay">
      <h1>
        Early Life
      </h1>
      <p>
        My professional career started with enrollment to the university, but my thinking, work ethics and values root in my earlier life. For this matter I would firstly like to write more about that part of my life.
        <br>
        <br>
        I grew up in a family where knowledge and education is highly valued. To some extent this gave me extra motivation and feeling of obligation, for valuing school related work in primary and secondary school. As a child I was in love with fantasy and fiction, and I loved even more to transfer my fantasy to reality with the help of Lego. This passion to create stayed with me to this day.
        <br>
        <br>
        My education path started in a stimulating environment of an old primary school Toma Brejca in Kamnik. The most effect,in this life period, for my latter life decisions had our chemistry teacher who seeded my interest for chemistry and biology. After primary school I visited a secondary school ŠCRM in Kamnik, for further 4 years. Here my interests got more formed and focused. Passion for nature sciences and information technology determined my future path to study Biochemistry.
        <br>
        <br>        
        During primary and secondary school I annually participated in knowledge competitions, mainly from the field of nature sciences such as chemistry, mathematics and physics and managed to get quite some silver and gold certificates on a national level. I also played competitive basket ball in first and second Slovenian basket ball league.     
      </p>
  </div>
</div>

<div class="mb_parallax_container" id="mb_parallax_two_bio">
  <a name="university"></a>  
  <div class="mb_parallax_overlay">
    <h1>
      University
    </h1>
    <p>
      When enrolling for university my mind was divided whether to enroll for computer science (CS) or Biochemistry, and the decision for Biochemistry prevailed, because I knew it would be much harder for me to acquire knowledge and experience on my own in this field than in CS. However the passion for CS and artificial intelligence was with me during whole biochemistry studies. 
      <br>
      <br>
      During the second year of studies I volunteered at the Jožef Stefan institute to help a doctoral student with her research. There I gained valuable experience in cell transformation, recombinant protein purification and analytical methods for studying protein folding. We were preparing different single amino acid mutants of a protein Stefin B and were interested how these mutations affect protein folding and its tertiary structure. We first purified the protein with affinity, gel and HPLC chromatography, then we observed its structural properties with fluorimetric methods such as ANS and CD (circular dichroism) specters.
      Working at IJS gave me a better insight into biochemical research work and indispensable practical experience. 
    </p>
  </div>
</div>

<div class="mb_parallax_container" id="mb_parallax_three_bio">
  <a name="theNewPath"></a>
  <div class="mb_parallax_overlay">
    <h1>
      The New Path
    </h1>
    <p>
      In the same year I got really interested in artificial intelligence mainly due to the books "Gödel, Escher, Bach" and "On Intelligence" by Douglas Hofstadter and Jeff Hawkins respectively. I was always interested in human intelligence, neurology and molecular mechanisms which make our "information processing machines" work flawlessly. These books introduced me to a new, more generalized, way of thinking about intelligence and what it really means exhibit intelligent traits. Quickly I began to notice that a deep neural network fad was missing some crucial components. Namely they have no mechanism to work with its own generalization, they manage to extract knowledge for a single problem with the help of huge amounts of data, but the way they generalize remains hidden to them and to us. Since then this problem is not giving me peace of mind and occupies me whenever I have time to think.
      <br>
      <br> 
      I believe that we need to experiment with vertically hierarchical neural networks in combination with semantic networks to progress to the next level of AI. Right now we have many highly specialized intelligent algorithms which are able to complete certain tasks even better than humans, and this would be analogous to separating, for example, a visual pathway and visual cortex from the human brain and connect it to few outputs to classify images. We are however still missing the whole neocortex, where the higher order intelligence resides.
      Aforementioned books and the problem of AI lead me on my path to study CS later on.
      
    </p>
  </div>
  
</div>
<div class="mb_parallax_container" id="mb_parallax_four_bio">
  <a name="bachelorsDegree"></a>
  <div class="mb_parallax_overlay">
    <h1>
      Bachelors Degree
    </h1>
    <p>
      The interest for molecular mechanisms happening in the human brain also played an important role in choosing the topic for my bachelors degree. I assigned for the project, under the guidance of dr.doc. Nina Vardjan, where we were interested in the role of lipid droplets in cultured rat astrocytes.
      <br>
      <br>
      Astrocytes are a type of glial cells in the brain tissue, which are responsible for mediating brain homeostasis and provide a crucial role in neuron metabolism. It was suggested recently that they also play an important role in neuronal electro-chemical signal propagation and thus impact information processing. The role of lipids in brain tissue is important from metabolic perspective and as main building blocks for cell membranes and myelin sheaths. Because the active active role in lipid metabolism was attributed to lipid droplets relatively recently, there has not been done much research in this field yet, especially not in glial tissue. For this reason we were initially interested in sub-cellular localization of lipid droplets in cultured rat astrocytes during "normal conditions". We made use of fluorescent labeling and dual channel confocal microscopy to observe co-localization with other organelles. We concluded that lipid droplets indeed are present in rat astrocytes, and that they mainly co-localize with mitochondria, where beta-oxidation of lipids occur.
    </p>
  </div>
</div>

<div class="mb_parallax_container" id="mb_parallax_five_bio">
  <a name="workingAtLek"></a>
  <div class="mb_parallax_overlay">
    <h1>
      Working at Lek
    </h1>
    <p>
      After graduating I took a year off to prepare myself for enrolling in in a CS masters program. I needed to acquire fundamental knowledge from CS bachelor program, to ease the transition. During this time I worked at a research biopharmaceutical laboratory at Lek d.o.o in Mengeš.
      <br>
      <br>
      There we worked with small scale optimization for production of bio-similars. I gained knowledge and practical experience for working with bio-reactors up to 10L, preparing feeding and cultivation media for mammalian cells and daily cell culture analytics such as measuring partial gas pressures and metabolites present in the bio-reactor cell culture. I enjoyed working there especially in the beginning when there was a lot of new things to learn, but over the period of one year the work has become to routine for me with little to no challenge. Although I gained a lot of practical experience and better impression how a modern day industrial workspace operates, I felt that this was not the right line of work for me which pushed me towards CS studies with even greater confidence.

    </p>
  </div>
</div>
<div class="mb_parallax_container" id="mb_parallax_six_bio">
  <a name="now"></a>
  <div class="mb_parallax_overlay">
    <h1>
      Now
    </h1>
    <p>
        Whit the beginning of a new school year I successfully enrolled in CS masters program at the Faculty for Computer Science and Information technology in Ljubljana, and have till now mostly completed my first year of master studies. I now feel confident enough to use my coding and algorithm knowledge on real world problems. Ideally I would like to combine my expertise from biochemical and CS world to work in the field of artificial intelligence, machine learning, big data information extraction or bioinformatics.
    </p>
  </div>
</div>





<%include ./partials/footer%>
