<%include ./partials/header%>

<div id="pinContainer">
    <section class="panel One">
        <div class="additionalContent">
            <div class="titleWrapp">
                <div class="competence title">
                    <div>Computer science</div>
                </div>
            </div>

            <p>
                Below are listed my competences in the field of computer science.
            </p>

            <div class="centerWrapp">
                <div class="tableWrapp">
                    <table class="ui celled structured table languages inverted">
                        <thead>
                            <tr>
                                <th rowspan="1"></th>
                                <th class="wide languages" rowspan="1">Basic</th>
                                <th class="wide languages" rowspan="1">Advanced</th>
                                <th class="wide languages" rowspan="1">Expert</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4" class="center aligned">
                                    <b>Programing languages</b>
                                </td>
                            </tr>
                            <tr>
                                <td>C++</td>
                                <td style='background-size: 30% 100%' colspan="3" class="langSkill"></td>
                            </tr>
                            <tr>
                                <td>C</td>
                                <td style='background-size: 27% 100%' colspan="3" class="langSkill"></td>
                            </tr>
                            <tr>
                                <td>Python</td>
                                <td style='background-size: 70% 100%' colspan="3" class="langSkill"></td>
                            </tr>
                            <tr>
                                <td>R</td>
                                <td style='background-size: 45% 100%' colspan="3" class="langSkill"></td>
                            </tr>
                            <tr>
                                <td>Java</td>
                                <td style='background-size: 55% 100%' colspan="3" class="langSkill"></td>
                            </tr>

                            <tr>
                                <td>Java Script</td>
                                <td style='background-size: 50% 100%' colspan="3" class="langSkill"></td>
                            </tr>
                            <tr>
                                <td>Lisp</td>
                                <td style='background-size: 35% 100%' colspan="3" class="langSkill"></td>
                            </tr>
                            <tr>
                                <td>Racket</td>
                                <td style='background-size: 40% 100%' colspan="3" class="langSkill"></td>
                            </tr>
                            <tr>
                                <td>SML</td>
                                <td style='background-size: 38% 100%' colspan="3" class="langSkill"></td>
                            </tr>
                            <tr>
                                <td colspan="4" class="center aligned">
                                    <b>Web design</b>
                                </td>
                            </tr>
                            <tr>
                                <td>HTML</td>
                                <td style='background-size: 55% 100%' colspan="3" class="langSkill"></td>
                            </tr>
                            <tr>
                                <td>CSS</td>
                                <td style='background-size: 48% 100%' colspan="3" class="langSkill"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p>Courses taken:</p>
            <div class="centerWrapp">
                <div class="tableWrapp">
                    <table class="ui celled structured table courses inverted">
                        <thead>
                            <tr>
                                <th class="wide courses" rowspan="1">Course name</th>
                                <th class="wide courseSource" rowspan="1" colspan="2">Source</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4" class="center aligned seperator">
                                    <b>AI and ML related</b>
                                </td>
                            </tr>
                            <tr>
                                <td>Natural language processing</td>
                                <td class="center aligned">FRI</td>
                                <td>
                                    <a href="https://ucilnica.fri.uni-lj.si/course/info.php?id=224&lang=en" class="ui secondary button">Link</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Machine learning</td>
                                <td class="center aligned">FRI</td>
                                <td>
                                    <a href="https://www.fri.uni-lj.si/en/course/machine-learning" class="ui secondary button">Link</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Artificial intelligence</td>
                                <td class="center aligned">FRI</td>
                                <td>
                                    <a href="https://fri.uni-lj.si/sl/predmet/umetna-inteligenca" class="ui secondary button">Link</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Natural language processing</td>
                                <td class="center aligned">FRI</td>
                                <td>
                                    <a href="https://ucilnica.fri.uni-lj.si/course/info.php?id=224&lang=en" class="ui secondary button">Link</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Artificia inteligence</td>
                                <td class="center aligned">MIT OpenCoursWare </td>
                                <td>
                                    <a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-034-artificial-intelligence-fall-2010/"
                                        class="ui secondary button">Link</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Machine Learning A-Z™: Hands-On Python & R In Data Science</td>
                                <td class="center aligned"> Udemy </td>
                                <td>
                                    <a href="https://www.udemy.com/machinelearning/" class="ui secondary button">Link</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Convolutional Neural Networks for Visual Recognition</td>
                                <td class="center aligned"> Stanford video lectures </td>
                                <td>
                                    <a href="http://cs231n.stanford.edu/" class="ui secondary button">Link</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="center aligned seperator">
                                    <b>Basic</b>
                                </td>
                            </tr>
                            <tr>
                                <td>Mathematics 2</td>
                                <td class="center aligned"> FRI </td>
                                <td>
                                    <a href="https://www.fri.uni-lj.si/sl/predmet/matematika-ii" class="ui secondary button">Link</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Functional Programing</td>
                                <td class="center aligned"> FRI </td>
                                <td>
                                    <a href="https://ucilnica.fri.uni-lj.si/enrol/index.php?id=123" class="ui secondary button">Link</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Algorithms</td>
                                <td class="center aligned"> FRI </td>
                                <td>
                                    <a href="https://ucilnica.fri.uni-lj.si/enrol/index.php?id=78" class="ui secondary button">Link</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Computer Systems</td>
                                <td class="center aligned"> FRI </td>
                                <td>
                                    <a href="https://ucilnica.fri.uni-lj.si/enrol/index.php?id=180" class="ui secondary button">Link</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="center aligned seperator">
                                    <b>Mathematical</b>
                                </td>
                            </tr>
                            <tr>
                                <td>Computational Topology</td>
                                <td class="center aligned"> FRI </td>
                                <td>
                                    <a href="https://fri.uni-lj.si/en/course/computational-topology" class="ui secondary button">Link</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Cryptography And Computer Security</td>
                                <td class="center aligned"> FRI </td>
                                <td>
                                    <a href=" https://www.fri.uni-lj.si/en/course/cryptography-and-computer-security" class="ui secondary button">Link</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="center aligned seperator">
                                    <b>Computer security</b>
                                </td>
                            </tr>
                            <tr>
                                <td>Computer Forensics</td>
                                <td class="center aligned"> FRI </td>
                                <td>
                                    <a href=" https://www.fri.uni-lj.si/en/course/computer-forensics" class="ui secondary button">Link</a>
                                </td>
                            </tr>
                            <tr>
                                <td>The Complete Ethical Hacking Course: Beginner to Advan</td>
                                <td class="center aligned"> Udemy </td>
                                <td>
                                    <a href=" https://www.udemy.com/penetration-testing/" class="ui secondary button">Link</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="center aligned seperator">
                                    <b>Full Stack Web Development</b>
                                </td>
                            </tr>
                            <tr>
                                <td>The Web Developer Bootcamp</td>
                                <td class="center aligned"> Udemy </td>
                                <td>
                                    <a href=" https://www.udemy.com/the-web-developer-bootcamp/" class="ui secondary button">Link</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p>Other computer related skills:</p>
            <div class="centerWrapp">
                    <div class="tableWrapp">
                        <div class="ui inverted segment">
                            <div class="ui bulleted list" id="bioList">
                                <div class="item bigItem">Laboratory sessions during the studies</div>
                                <div class="item bigItem">
                                    <div>Operating systems</div>
                                    <div class="list">
                                        <div class="item smallItem">
                                            Pimary: Linux
                                        </div>
                                        <div class="item smallItem">
                                            Secondary: Windows
                                        </div>                                
                                    </div>
                                </div>
                                <div class="item bigItem">
                                    <div>Framework and library familiarity:</div>
                                    <div class="list">
                                        <div class="item smallItem">
                                            AndroidStuido, QT, NLTK, Tkinter, SciKit-Learn, Node, Express
                                        </div>                           
                                    </div>
                                </div>       
                                <div class="item bigItem">
                                    <div>Other tools knowledge:</div>
                                    <div class="list">
                                        <div class="item smallItem">
                                            MS Office (Word, Excel, PowerPoint), Adobe Photoshop,Solid Works, PyMol, Chimera
                                        </div>                           
                                    </div>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <section class="panel Two">
        <div class="additionalContent" id="biochemistry">
            <div class="titleWrapp">
                <div class="competence title">
                    <div>Biochemistry</div>
                </div>
            </div>

            <div class="centerWrapp">
                <div class="tableWrapp">
                    <div class="ui inverted segment">
                        <div class="ui bulleted list" id="bioList">
                            <div class="item bigItem">Laboratory sessions during the studies</div>
                            <div class="item bigItem">
                                <div>Laboratory praksis at Institute Jožef Stefan</div>
                                <div class="list">
                                    <div class="item smallItem">
                                        Transformation of bacterial cells
                                    </div>
                                    <div class="item smallItem">
                                        Expression of recombinant proteins
                                    </div>
                                    <div class="item smallItem">
                                        Purification and analysis of recombinant proteins:
                                        <div class="list">
                                            <div class="item smallItem I">
                                                Affinity chromatography
                                            </div>
                                            <div class="item smallItem I">
                                                Gel chromatography
                                            </div>
                                            <div class="item smallItem I">
                                                High-performance liquid chromatography (HPLC)
                                            </div>
                                            <div class="item smallItem I">
                                                Fluorimetric and spectroscopic methods for determining the stability and structural properties of proteins (Tyrosine fluorescence,ANS
                                                fluorescence, Circular Dichroism)
                                            </div>

                                        </div>
                                    </div>
                                    <div class="item smallItem">
                                        Preparation of histological preparates
                                    </div>
                                    <div class="item smallItem">
                                        Basic practical knowledge of in situ hybridization
                                    </div>
                                </div>
                            </div>
                            <div class="item bigItem">
                                <div>Bachelor thesis laboratory work</div>
                                <div class="list">
                                    <div class="item smallItem">
                                        Working in a cell laboratory
                                    </div>
                                    <div class="item smallItem">
                                        Working with cultured rat astrocytes
                                    </div>
                                    <div class="item smallItem">
                                        Immunocytochemical labeling of the cells
                                    </div>
                                    <div class="item smallItem">
                                        Fluorescent confocal mycroscopy with LSM510 microscope
                                    </div>
                                </div>
                            </div>
                            <div class="item bigItem">
                                <div>Working at Lek d.o.o. </div>
                                <div class="list">
                                    <div class="item smallItem">
                                        Working in a biofarmaceutics research department
                                    </div>
                                    <div class="item smallItem">
                                        Working with small scale bio-reactors up to 10L
                                    </div>
                                    <div class="item smallItem">
                                        Daily cell culture analysis (measuring metabolites, partial pressures of gasses, pH,... )
                                    </div>
                                    <div class="item smallItem">
                                        Preparation of cell culture media and cell culture feeds
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <section class="panel Three">
        <div class="additionalContent">
            <div class="titleWrapp">
                <div class="competence title">
                    <div>Language Skills</div>
                </div>
            </div>
            <div class="centerWrapp">
                    <div class="tableWrapp">
                        <table class="ui celled structured table languages inverted">
                            <thead>
                                <tr>
                                    <th rowspan="2"></th>
                                    <th class="wide languages" rowspan="1" colspan="2">Understanding</th>
                                    <th class="wide languages" rowspan="1" colspan="2">Speech</th>
                                    <th class="wide languages" rowspan="2" colspan="1">Writen</th>
                                </tr>
                                <tr>
                                    <th class="wide languages" rowspan="1" colspan="1">
                                        listening comprehension</th>
                                    <th class="wide languages" rowspan="1" colspan="1">Reading comprehension</th>
                                    <th class="wide languages" rowspan="1" colspan="1">Voice communications </th>
                                    <th class="wide languages" rowspan="1" colspan="1">
                                    Voice messaging </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="1" class="center aligned">
                                        <b>Slovenian</b>
                                    </td>
                                    <td colspan="5" class="center aligned">
                                        <b>Mother language</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="center aligned">
                                        <b>English</b>
                                    </td>
                                    <td colspan="1" class="center aligned">
                                        <b>C2</b>
                                    </td>
                                    <td colspan="1" class="center aligned">
                                        <b>C2</b>
                                    </td>
                                    <td colspan="1" class="center aligned">
                                        <b>C2</b>
                                    </td>
                                    <td colspan="1" class="center aligned">
                                        <b>C2</b>
                                    </td>
                                    <td colspan="1" class="center aligned">
                                        <b>C2</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="center aligned">
                                        <b>German</b>
                                    </td>
                                    <td colspan="1" class="center aligned">
                                        <b>B1</b>
                                    </td>
                                    <td colspan="1" class="center aligned">
                                        <b>B2</b>
                                    </td>
                                    <td colspan="1" class="center aligned">
                                        <b>B1</b>
                                    </td>
                                    <td colspan="1" class="center aligned">
                                        <b>B1</b>
                                    </td>
                                    <td colspan="1" class="center aligned">
                                        <b>B1</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="center aligned">
                                        <b>Norwegian</b>
                                    </td>
                                    <td colspan="1" class="center aligned">
                                        <b>A1</b>
                                    </td>
                                    <td colspan="1" class="center aligned">
                                        <b>A1</b>
                                    </td>
                                    <td colspan="1" class="center aligned">
                                        <b>A1</b>
                                    </td>
                                    <td colspan="1" class="center aligned">
                                        <b>A1</b>
                                    </td>
                                    <td colspan="1" class="center aligned">
                                        <b>A1</b>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </section>
    <section class="panel Four">
        <div class="additionalContent">
            <h1>Biochemistry</h1>
            <p> Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je v
                uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v začetku
                16. stoletja. To besedilo pa ni zgolj preživelo pet stoletij, temveč se je z malenkostnimi spremembami uspešno
                uveljavilo tudi v elektronskem namiznem založništvu. Na priljubljenosti je Lorem Ipsum pridobil v sedemdesetih
                letih prejšnjega stoletja, ko so na trg lansirali Letraset folije z Lorem Ipsum odstavki. V zadnjem času
                se Lorem Ipsum pojavlja tudi v priljubljenih programih za namizno založništvo kot je na primer Aldus PageMaker.Z
                Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je
                v uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v
                začetku 16. stoletja. To besedilo pa ni zgolj preživelo pet stoletij, temveč se je z malenkostnimi spremembami
                uspešno uveljavilo tudi v elektronskem namiznem založništvu. Na priljubljenosti je Lorem Ipsum pridobil v
                sedemdesetih letih prejšnjega stoletja, ko so na trg lansirali Letraset folije z Lorem Ipsum odstavki. V
                zadnjem času se Lorem Ipsum pojavlja tudi v priljubljenih programih za namizno založništvo kot je na primer
                Aldus PageMaker.Z</p>
            <h1>Biochemistry</h1>
            <p> Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je v
                uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v začetku
                16. stoletja. To besedilo pa ni zgolj preživelo pet stoletij, temveč se je z malenkostnimi spremembami uspešno
                uveljavilo tudi v elektronskem namiznem založništvu. Na priljubljenosti je Lorem Ipsum pridobil v sedemdesetih
                letih prejšnjega stoletja, ko so na trg lansirali Letraset folije z Lorem Ipsum odstavki. V zadnjem času
                se Lorem Ipsum pojavlja tudi v priljubljenih programih za namizno založništvo kot je na primer Aldus PageMaker.Z
                Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je
                v uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v
                začetku 16. stoletja. To besedilo pa ni zgolj preživelo pet stoletij, temveč se je z malenkostnimi spremembami
                uspešno uveljavilo tudi v elektronskem namiznem založništvu. Na priljubljenosti je Lorem Ipsum pridobil v
                sedemdesetih letih prejšnjega stoletja, ko so na trg lansirali Letraset folije z Lorem Ipsum odstavki. V
                zadnjem času se Lorem Ipsum pojavlja tudi v priljubljenih programih za namizno založništvo kot je na primer
                Aldus PageMaker.Z</p>
            <h1>Biochemistry</h1>
            <p> Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je v
                uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v začetku
                16. stoletja. To besedilo pa ni zgolj preživelo pet stoletij, temveč se je z malenkostnimi spremembami uspešno
                uveljavilo tudi v elektronskem namiznem založništvu. Na priljubljenosti je Lorem Ipsum pridobil v sedemdesetih
                letih prejšnjega stoletja, ko so na trg lansirali Letraset folije z Lorem Ipsum odstavki. V zadnjem času
                se Lorem Ipsum pojavlja tudi v priljubljenih programih za namizno založništvo kot je na primer Aldus PageMaker.Z
                Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je
                v uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v
                začetku 16. stoletja. To besedilo pa ni zgolj preživelo pet stoletij, temveč se je z malenkostnimi spremembami
                uspešno uveljavilo tudi v elektronskem namiznem založništvu. Na priljubljenosti je Lorem Ipsum pridobil v
                sedemdesetih letih prejšnjega stoletja, ko so na trg lansirali Letraset folije z Lorem Ipsum odstavki. V
                zadnjem času se Lorem Ipsum pojavlja tudi v priljubljenih programih za namizno založništvo kot je na primer
                Aldus PageMaker.Z</p>
        </div>



    </section>
    <section class="panel Five">
        <div class="additionalContent">
            <h1>Biochemistry</h1>
            <p> Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je v
                uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v začetku
                16. stoletja. To besedilo pa ni zgolj preživelo pet stoletij, temveč se je z malenkostnimi spremembami uspešno
                uveljavilo tudi v elektronskem namiznem založništvu. Na priljubljenosti je Lorem Ipsum pridobil v sedemdesetih
                letih prejšnjega stoletja, ko so na trg lansirali Letraset folije z Lorem Ipsum odstavki. V zadnjem času
                se Lorem Ipsum pojavlja tudi v priljubljenih programih za namizno založništvo kot je na primer Aldus PageMaker.Z
                Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je
                v uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v
                začetku 16. stoletja. To besedilo pa ni zgolj preživelo pet stoletij, temveč se je z malenkostnimi spremembami
                uspešno uveljavilo tudi v elektronskem namiznem založništvu. Na priljubljenosti je Lorem Ipsum pridobil v
                sedemdesetih letih prejšnjega stoletja, ko so na trg lansirali Letraset folije z Lorem Ipsum odstavki. V
                zadnjem času se Lorem Ipsum pojavlja tudi v priljubljenih programih za namizno založništvo kot je na primer
                Aldus PageMaker.Z</p>
            <h1>Biochemistry</h1>
            <p> Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je v
                uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v začetku
                16. stoletja. To besedilo pa ni zgolj preživelo pet stoletij, temveč se je z malenkostnimi spremembami uspešno
                uveljavilo tudi v elektronskem namiznem založništvu. Na priljubljenosti je Lorem Ipsum pridobil v sedemdesetih
                letih prejšnjega stoletja, ko so na trg lansirali Letraset folije z Lorem Ipsum odstavki. V zadnjem času
                se Lorem Ipsum pojavlja tudi v priljubljenih programih za namizno založništvo kot je na primer Aldus PageMaker.Z
                Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je
                v uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v
                začetku 16. stoletja. To besedilo pa ni zgolj preživelo pet stoletij, temveč se je z malenkostnimi spremembami
                uspešno uveljavilo tudi v elektronskem namiznem založništvu. Na priljubljenosti je Lorem Ipsum pridobil v
                sedemdesetih letih prejšnjega stoletja, ko so na trg lansirali Letraset folije z Lorem Ipsum odstavki. V
                zadnjem času se Lorem Ipsum pojavlja tudi v priljubljenih programih za namizno založništvo kot je na primer
                Aldus PageMaker.Z</p>
            <h1>Biochemistry</h1>
            <p> Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je v
                uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v začetku
                16. stoletja. To besedilo pa ni zgolj preživelo pet stoletij, temveč se je z malenkostnimi spremembami uspešno
                uveljavilo tudi v elektronskem namiznem založništvu. Na priljubljenosti je Lorem Ipsum pridobil v sedemdesetih
                letih prejšnjega stoletja, ko so na trg lansirali Letraset folije z Lorem Ipsum odstavki. V zadnjem času
                se Lorem Ipsum pojavlja tudi v priljubljenih programih za namizno založništvo kot je na primer Aldus PageMaker.Z
                Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je
                v uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v
                začetku 16. stoletja. To besedilo pa ni zgolj preživelo pet stoletij, temveč se je z malenkostnimi spremembami
                uspešno uveljavilo tudi v elektronskem namiznem založništvu. Na priljubljenosti je Lorem Ipsum pridobil v
                sedemdesetih letih prejšnjega stoletja, ko so na trg lansirali Letraset folije z Lorem Ipsum odstavki. V
                zadnjem času se Lorem Ipsum pojavlja tudi v priljubljenih programih za namizno založništvo kot je na primer
                Aldus PageMaker.Z</p>
        </div>

    </section>
</div>

<script type="text/javascript" src="/scripts/panels.js"></script>

<%include ./partials/footer%>


