<%include ./partials/header%>

<div class="mb_parallax_container" id="mb_parallax_one_hobbies">
    <div class="titleWrapp">
        <div class="page title">
            <div>HOBBIES</div>
        </div>
    </div>
  <a name="basket"></a>
  <div class="mb_parallax_overlay">    
    <h1>Basketball</h1>
    <p>
        I have started playing basket ball in the second grade of primary school and has been a big part of my life ever since. I stopped playing competitively when I enrolled to university because there was not enough time to commute to my clubs hometown to train. I still play recreationally though and it is a great way for me to relax my mind.
    </p>
  </div>
</div>

<div class="mb_parallax_container" id="mb_parallax_two_hobbies">
  <a name="diving"></a>
  <div class="mb_parallax_overlay">
    <h1>
      Diving
    </h1>
    <p>
        Scuba diving and free diving are my favorite activities during the summer time. I love to explore the peaceful under watter world, especially if there are sunken shipwrecks or majestic under watter cliffs. I dove in many beautiful mediterranean locations such as island Lastovo and Vis, wrecks like Baron Gautsch and swam with turtles in the warm watters of Hawaii.
    </p>
    <div class="RGWrap">      
        <img id ="diving1" src="/images/erikdive.jpg" type="image">
        <video id="gautsch" controls autoplay loop>
          <source src="/videos/gautch.mp4" type="video/mp4">      
          Your browser does not support HTML5 video.
        </video>   
    </div>
    
  </div>
</div>

<div class="mb_parallax_container" id="mb_parallax_three_hobbies">
    <a name="hiking"></a>
  <div class="mb_parallax_overlay">
    <h1>
      Hiking
    </h1>
    <p>
        The best way to clear my mind and relax is to visit the solitude of the mountains. I am lucky to live in place where beautiful mountains are no more than a hour drive away. 
    </p>
    <div class="RGWrap">      
      <img id ="hiking1" src="/images/grintavec.JPG" type="image">
      <img id ="hiking2" src="/images/ticarca.JPG" type="image">      
      <img id ="hiking3" src="/images/triglav.JPG" type="image"> 
    </div>
  </div>
</div>

<div class="mb_parallax_container" id="mb_parallax_four_hobbies">
    <a name="games"></a>
  <div class="mb_parallax_overlay">
    <h1>
      Video games
    </h1>
    <p>
        Ever since I was first introduced to a computer, I was fascinated by video games. I always enjoyed getting lost in fantasy worlds and take part in quests to save the world. I mostly enjoy playing role playing games like Skyrim or Witcher and massive onlline role playing games like World Of Warcraft and Guild Wars. I also played (and sometimes still play) competitive games like Leage Of Legends. There is nothing better to relax on a friday evening than to get a group of friends on Skype and get things done :)
    </p>
    <div class="RGWrap">      
      <img id ="diving1" src="/images/wow.jpg" type="image">    
    </div>
    
  </div>
</div>


<%include ./partials/footer%>
