<%include ./partials/header%>

  <div class="page title">
    <div>Erik Janezic</div>
  </div>
  
  <div id="base">
    <h1>Hello</h1>
    <p> My name is Erik Janežič, born 24.6.1992. This is my way My name is Erik Janežič, born 24.6.1992. This is my wayMy name is Erik Janežič, born 24.6.1992. This is my wayz </p>
  </div>


<%include ./partials/footer%>


