<%include ./partials/header%>

<div class="mb_parallax_container" id="mb_parallax_one">
  <div class="page title">
    <div>Erik Janezic</div>
  </div>
  <div class="mb_parallax_overlay" id="introduction">
    <h1>About me</h1>
    <img class="portrait" source src="/images/erik.png" type="image">
    <p>
      Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je v uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v začetku 16. stoletja. To besedilo pa ni zgolj preživelo pet stoletij, temveč se je z malenkostnimi spremembami uspešno uveljavilo tudi v elektronskem namiznem založništvu. Na priljubljenosti je Lorem Ipsum pridobil v sedemdesetih letih prejšnjega stoletja, ko so na trg lansirali Letraset folije z Lorem Ipsum odstavki. V zadnjem času se Lorem Ipsum pojavlja tudi v priljubljenih programih za namizno založništvo kot je na primer Aldus PageMaker.Z    Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je v uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v začetku 16. stoletja. To besedilo pa ni zgolj preživelo pet stoletij, temveč se je z malenkostnimi spremembami uspešno uveljavilo tudi v elektronskem namiznem založništvu. Na priljubljenosti je Lorem Ipsum pridobil v sedemdesetih letih prejšnjega stoletja, ko so na trg lansirali Letraset folije z Lorem Ipsum odstavki. V zadnjem času se Lorem Ipsum pojavlja tudi v priljubljenih programih za namizno založništvo kot je na primer Aldus PageMaker.Z
    </p>
    
    
    
  </div>
  
</div>

<div class="mb_parallax_container" id="mb_parallax_two">
  <div class="mb_parallax_overlay"></div>
</div>

<div class="mb_parallax_container" id="mb_parallax_three">
  <div class="mb_parallax_overlay">
    <h2>
    Marc Barbeau is a font end developer looking for work in Denver CO or remote.
    <br>
    <a href="www.marcbarbeau.com">
      Learn more
    </a>
    </h2>
  </div>
</div>


<%include ./partials/footer%>


