<%include ./partials/header%>

<div class="mb_parallax_container" id="mb_parallax_one">
  <div class="page title">
    <div>HOME</div>
  </div>
  
  <div class="mb_parallax_overlay" id="introduction">
    <h1>About this site</h1>
    
    <p id="introduction">
      Welcome interested reader!<br>
      This website is intended as my introductory space to the web, potential employers or other people who might like to collaborate with me. Here you can find my CV related information such as information about my education, professional career, competences,... <br>
      In addition to that I present my philosophical standpoint mainly about artificial intelligence and intelligence in general, and some other humanity issues. <br>
      I will also use this site to post information about the projects I am working on, and maybe use it to show some demos. <br>
      The site is fairly new and will be under incremental construction for quite some time.

    </p>
    
    
    
  </div>
  
</div>

<div class="mb_parallax_container" id="mb_parallax_two">
  <div class="mb_parallax_overlay">
    <h1>About the creator</h1>
    <img class="portrait" source src="/images/erik.png" type="image">
    <p id="introduction">
      My name is Erik Janežič, born in 1992 in a small southern European country - Slovenia. Since I was little I was drawn towards exploring the unknown, and creating stuff I wanted myself.  On foundations of good formal education and my thirst for knowledge these traits got more focused and potentiated during the years. My main interests today is computer scientific in nature, namely a broad subject of Artificial intelligence. But it was not always like this. At the end of high school I was more interested in biology related problems, thus I enrolled in a Biochemistry bachelors degree program at the Faculty of Chemistry and Chemical technology in Ljubljana. During the studies there I started to realize the importance of AI and Machine learning, especially after reading the book "Göedel, Escher, Bach" by Douglas Hofstadter. This book was an eye opener for me, and it is an important catalyst for my decision to pursue a masters degree in computer science. It guided me towards thinking about intelligence in a different way, and towards the realization of how important it really is for us to try and pursue the understanding of intelligence. <br>
      So at this point in time I am on a path towards my masters degree, and am looking for more concrete practical experience in the computer scientific fields. I am especially looking forward to getting experience from smaller group project to experience a work-flow of modern day software companies.  <br> 
      <p>
      <b>Feel free to explore my website and find more about me, my interests and views!</b>
      </p> 
    </p>
  </div>
</div>

<div class="mb_parallax_container" id="mb_parallax_three">
  <div class="mb_parallax_overlay">

  </div>
</div>


<%include ./partials/footer%>


