<%include ./partials/header%>

<div class="mb_parallax_container" id="mb_parallax_one_landing">
  <div class="titleWrapp">
      <div class="page title">
          <div>HOME</div>
      </div>
  </div>

  <div class="mb_parallax_overlay">
      <h1>About the creator</h1>
      <p class="welcome"><b class="welcome">Welcome interested reader!</b></p>
      <img class="portrait"  src="/images/erik.png" type="image">
      <p id="introduction">
        
        <br>
        I am Erik Janežič currently I study computer science (masters program) at the faculty of Computer and Information Science, University of Ljubljana.
        <br>
        <br>
        In 2015 I graduated with a bachelors degree in Biochemistry. My official working experience so far was mostly biochemically oriented. During my bachelors program I worked for 8 months as a research assistant at the Jožef Stefan institute. After graduating I worked for 1 year in a biopharmaceutics research laboratory at Lek d.o.o. in Mengeš. Most of my computer science related experience comes from study related projects and my own hobby projects, such as building my own 3D printer or this web site.
        <br>
        You can read mora about what I am/was working on under the projects tab or on my Github.
        <br>
        <br>
        <b>My main interests are artificial intelligence, machine learning, big data information extraction and analysis. I am looking to work in any kind of software engineering or data analysis sector. </b>
  
   
      </p>
      <div class="contactsCenterWrapp">
        <div class="contactsInlineWrapp">
          <h2>
            Contact information
          </h2>
          <p>
            E-mail: erik(dot)janezic(at)gmail.com
          </p>
          <a target="_blank" href="https://www.linkedin.com/in/erik-jane%C5%BEi%C4%8D-a21377114/" class="ui inverted button">LinkedIn</a>
          <a target="_blank" href="https://www.facebook.com/alset.vandoranelo" class="ui inverted button">Facebook</a>
          <a target="_blank" href="https://github.com/Amuoeba" class="ui inverted button">Github</a>
        </div>
      </div>
    </div>
  
  
  
  
</div>

<div class="mb_parallax_container" id="mb_parallax_two_landing">
    <div class="mb_parallax_overlay" id="introduction">
        <h1>About this site</h1>
        
        <p id="introduction">
          This website is intended as my introductory space to the web, potential employers or other people who might like to collaborate with me. Here you can find my CV related information such as information about my education, professional career, competences,... <br>
          I will also use this site to post information about the projects I am working on, and use it to show some demos. 
          <br>
          <br>
          The site is fairly new and is my free-time project meaning that it will be under slow but steady construction.<br>
          <br>
          <div class="contactsCenterWrapp">
            <div class="contactsInlineWrapp">
              <h2>
                Notes (version 1.1)
              </h2>
              <p class="notes">
                The site has not yet been optimized for mobile users
              </p>
              <p class="notes">
                The site is in constant development, and some features are not yet implemented. Read more in the projects page. 
              </p>
            </div>
          </div>
    
        </p>
        
        
        
      </div>
</div>
<!-- 
<div class="mb_parallax_container" id="mb_parallax_three">
  <div class="mb_parallax_overlay">
    
  </div>
</div>
 -->

<%include ./partials/footer%>


