<%include ./partials/header%>

<div class="mb_parallax_container" id="mb_parallax_one">
    <div class="titleWrapp">
        <div class="page title">
            <div>PROJECTS</div>
        </div>
    </div>

  <div class="mb_parallax_overlay" id="projectsSummary">
      <div class="ui grid stackable">
          <div class="three column row">
            <div class="column">
              <div class="project">
                <div class="projectTitle">
                  <h1>Graduation Thesis</h1>
                </div>
                <p>Determining subcellular localization in cultured rat astrocytes</p>
                <a href="" class="ui inverted button" id="more">More</a>
              </div>
            </div>
            <div class="column">
                <div class="project">
                    <div class="projectTitle">
                      <h1>Automatic decyphering of substitution cyphers</h1>
                    </div>
                    <p>Develop tools for automatic decryption of substitution cyphers and an attempt to decode an old Slovenian encrypted letter from early 20th century.</p>
                    <a href="" class="ui inverted button" id="more">More</a>
                  </div>
            </div>
            <div class="column">
                <div class="project">
                    <div class="projectTitle">
                      <h1>My Own Website</h1>
                    </div>
                    <p>Create my own website with the MEAN stack, hoasted on Heroku servers. (Mongo related features not implemented yet)</p>
                    <a href="" class="ui inverted button" id="more">More</a>
                  </div>
            </div>
        </div>
        <div class="one column row">
            <div class="column">
              <div class="project git" id="git">
                <p id="gitbanner">All the code and detiled information for my coding-related projects can be found on my GitHub profile! </p>
                <div class="gitCenter">
                    <a target="_blank" href="https://github.com/Amuoeba" class="ui inverted button massive olive" id="gitLink">GitHub Link</a>
                </div>
                
              </div>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="mb_parallax_container" id="mb_parallax_two">
  <div class="mb_parallax_overlay"></div>
</div>

<div class="mb_parallax_container" id="mb_parallax_three">
  <div class="mb_parallax_overlay">
    <h2>
    Marc Barbeau is a font end developer looking for work in Denver CO or remote.
    <br>
    <a href="www.marcbarbeau.com">
      Learn more
    </a>
    </h2>
  </div>
</div>


<%include ./partials/footer%>
