<%include ./partials/header%>

<div class="mb_parallax_container" id="mb_parallax_one_projects">
    <div class="titleWrapp">
        <div class="page title">
            <div>PROJECTS</div>
        </div>
    </div>

  <div class="mb_parallax_overlay" id="projectsSummary">
      <div class="ui grid stackable">
          <div class="three column row">
            <div class="column">
              <div class="project">
                <div class="projectTitle">
                  <h1>Graduation Thesis</h1>
                </div>
                <p>Determining subcellular localization in cultured rat astrocytes</p>
                <a href="#gradThesis" class="ui inverted button" id="more">More</a>
              </div>
            </div>
            <div class="column">
                <div class="project">
                    <div class="projectTitle">
                      <h1>Automatic decyphering of substitution cyphers</h1>
                    </div>
                    <p>Develop tools for automatic decryption of substitution cyphers and an attempt to decode an old Slovenian encrypted letter from early 20th century.</p>
                    <a href="#autoDecode" class="ui inverted button" id="more">More</a>
                  </div>
            </div>
            <div class="column">
                <div class="project">
                    <div class="projectTitle">
                      <h1>My Own Website</h1>
                    </div>
                    <p>Create my own website with the MEAN stack, hoasted on Heroku servers. (Mongo related features not implemented yet)</p>
                    <a href="#myWebsite" class="ui inverted button" id="more">More</a>
                  </div>
            </div>
            <div class="column">
                <div class="project">
                    <div class="projectTitle">
                      <h1>A3C implementation for solving Atari gameenvironments</h1>
                    </div>
                    <p>Implementation of A3C for solving Atari environments, done for a course project Machine learning</p>
                    <a href="#a3c" class="ui inverted button" id="more">More</a>
                  </div>
            </div>
        </div>
        <div class="one column row">
            <div class="column">
              <div class="project git" id="git">
                <div id="gitbanner">
                  <p id="gitbanner">All the code and detiled information for my coding-related projects can be found on my GitHub profile!</p>
                </div>

                <div class="gitCenter">
                <a target="_blank" href="https://github.com/Amuoeba" class="ui inverted button massive olive" id="gitLink">GitHub Link</a>
                </div>              
              </div>

            </div>
        </div>
      </div>
  </div>
</div>

<div class="mb_parallax_container" id="mb_parallax_two_projects">
  <div class="mb_parallax_overlay">    
    <a name="gradThesis"></a>
    
    <div class="titleWrapp">
        <div class="page title smaller">
            <div>Graduation thesis</div>
        </div>
    </div>
    <h1 id="abstract">
      Abstract
    </h1>
    <p>
      Research of glial physiology was put aside for a long time due to the main focus on
      neuronal research. Discovery of novel astrocyte functions and acknowledgment of their
      importance in maintaining functional nervous system has brought glia research back
      to life. Astrocytes, the most numerous glial cells, have a central role in neuronal
      metabolic support where in addition to lactate, glucose and glutamate metabolism, lipid
      metabolism is also of great importance. Lipids serve as fuel molecules, energy stores,
      signal molecules, and components of membranes. In nervous system they also play
      an important role in maintaining neuronal plasticity and are involved in myelination.
      Inside cells lipids are stored in specialized organelles, lipid droplets. The lipid droplet
      research has provided information on interaction of lipid droplets with different
      organelles and membrane proteins. However, not much research has been conducted
      concerning the matter of lipid droplets in astrocytes yet. The goal of our research was
      to determine subcellular localization of lipid droplets and their potential interaction with
      other organelles in astrocytes in culture. To pursue our goal we made use of
      fluorescent organelle labelling and confocal microscopy. We calculated the degree of
      colocalisation between the lipid droplet originated fluorescent signal and fluorescent
      signal from other organelles. Our results indicate that astrocytic lipid droplets, like in
      other cell types, contain a neutral lipid core and a protein coat involved in lipid droplet
      metabolism. Moreover, we observed that lipid droplets likely interact with mitochondria,
      where β-oxidation of fatty acids takes place. We, however, didn’t observe any
      interaction between lipid droplets and lysosomes/autophagosomes, where lipid droplet
      degradation can occur in other cells.
    </p>
    <div class="RGWrap"
    <div class="RG">
      <img id ="RG" src="/images/Slika22RG.jpg" type="image">
    </div>
    <div class="RGWrap"
    <div class="RG">
      <a target="_blank" href="/documents/Diploma.pdf" class="ui inverted button" id="DownloadFullDoc">Download Full Document</a>
    </div>
  </div>
</div>

<div class="mb_parallax_container" id="mb_parallax_three_projects">
  <div class="mb_parallax_overlay">
    <h1>
      <a name="autoDecode"></a>
    </h1>
    <div class="titleWrapp">
        <div class="page title smaller">
            <div>Automatic Decyphering Of Substitution Cyphers</div>
        </div>
    </div>
    <h1 id="abstract">
      Abstract
    </h1>
    <p>
      This project focuses on developing tools to ease manual decoding of substitution cyphers and
      explores ways to automate the decoding process. Simultaneously we try to decipher an old
      encoded letter named Elizika from the early 20th century. We present various text analysis
      tools to help with decoding and an algorithm for automatic breaking of substitution cyphers.
      For now this algorithm works only with English language cyphers due to lack of good
      corpora for Slovenian language. At the end some future plans and ideas for improvement
      are presented.
    </p>
    <p>
    	<u><b>Update: </b></u><br>
    	We conducted our own analysis of Slovenian language corpus <i>GigaFida</i>. We counted the frequencies
      of pairs and triplets of letters which were then used in the execution of the previously implemented 
      algorithm. Since Slovenian language is morphologically much richer than English we let the algorithm
      run over the night a couple of times. We noticed that there is a great degree of language like structure,
      and majoirity  of words were almost completed. Only few letters were wrong in each run and we were able to
      manualy decypher the rest of the massage. Full encrypted and decrypted massage is presented below: <br>
      <br>
      <div style="text-align: center;" >
        <div style="display: inline-block;text-align:left">
          <p>
             <i>Draga mi!<br>
              1!2č4 7?8=2.794č4+. 7928?= 14 5o2 1? č4 +4 =5+2 =262m4<br>
              Tvoje pismo prejel. Prosim Te ako Ti je le malo mogoče,<br>
              <br>
              72K+č? =? !85č 759 o95čn59č4!  <5 =? Y2 !85č =5+4 72=565-2<br>
              pošlji mi vsaj par krajcarjev, da mi bo vsaj male pomagano.<br>
              <br>
              5o2 72K+č4K  =295K 15o2č oč49 84= 948 m?812 803 ?- !930 1465<br>
              Ako pošlješ, moraš takoj kjer sem res čisto suh in vrhu tega<br>
              <br>
              694=2 o=5+0 ! Y460-č4  1295č !85č 759 o95čn49č4!  5o2 1? č4<br>
              gremo kmalu v Begunje. Toraj vsaj par krajcerjev, ako Ti je<br>
              <br>
              =262m4  5 15o2č   Na svidenje Kozak<br>
              mogoče, a takoj.<br></i>
              
          </p>
        </div>
      </div>

      
      
    </p>
    <div class="RGWrap"
    <div class="RG">
      <img id ="RG" src="/images/elizika.jpg" type="image">
    </div>
    <div class="RGWrap"
    <div class="RG">
      <a target="_blank" href="/documents/Elizika.pdf" class="ui inverted button" id="DownloadFullDoc">Download Full Document</a>
      <a target="_blank" href="https://github.com/Amuoeba/elizika" class="ui inverted button" id="DownloadFullDoc">GitHub</a>
    </div>
  </div>
</div>

<div class="mb_parallax_container" id="mb_parallax_four_projects">
  <div class="mb_parallax_overlay">
    <a name="mysite"></a>
    <h1>
      My website
    </h1>
    <p>
      The website is implemented using the MEAN stack with some Sematic UI front end features. Its main purpuse is to serve as a CV for myself. However it will also be a place for me to display working demos of my projects. Below is a TODO list of features I plan to implement in the near future.
    </p>
    <h2>TODOs</h2>
    <div class="ulcenterWrapp">
      <div class="ulinlineWrapp">
        <ul class="todos">
          <li class="todos">Implement a mobile friendly version of the site</li>
          <li class="todos">Implement discussion and comments forum</li>
          <li class="todos">Create a philosophy section</li>
          <li class="todos">Implement client side script for automatic decoding of substitution cyphers</li>
          <li class="todos">Slowly improve the user interface with additional features</li>      
        </ul>      
      </div>
    </div>
    <div class="RGWrap">    
      <img id ="mean" src="/images/mean.png" type="image">
    </div>

    
  </div>
</div>

<div class="mb_parallax_container" id="mb_parallax_seven_projects">
    <div class="mb_parallax_overlay">
      <a name="a3c"></a>
      <h1>
          A3C implementation for solving Atari gameenvironments
      </h1>
      <p>
          The area of reinforcement learning has been an interesting topic of machine learning for a long time. It mainlyconcerns the topics of training ”intelligent” actors which have to navigate an unknown environment while maximizing acertain predefined score. In this project we explore and implement an recently proposed approach of reinforcementlearning known as asynchronous advantage actor critic or A3C for short. The model was proposed by a Google Ai teamin 2016, and it is best known for its success in solving Atari 2600 based environments, and that it has no expensive hardware demands (such as GPUs) to successfully train the model.
      </p>
      <div class="RGWrap"
      <div class="RG">        
        <video id="gautsch" controls autoplay loop>
            <source src="/videos/openaigym.video.0.10292.video002860.mp4" type="video/mp4">      
            Your browser does not support HTML5 video.
        </video> 
      </div>
      <div class="RGWrap"
      <div class="RG">
        <a target="_blank" href="/documents/a3c-implementation-solving.pdf" class="ui inverted button" id="DownloadFullDoc">Download Full Document</a>
        <a target="_blank" href="https://github.com/Amuoeba/MLProject" class="ui inverted button" id="DownloadFullDoc">GitHub</a>
      </div>     
    </div>
  </div>


<%include ./partials/footer%>
