<%include ./partials/header%>

<div class="mb_parallax_container" id="mb_parallax_one_refference">
    <div class="titleWrapp">
        <div class="page title">
            <div>REFFERENCES</div>
        </div>
    </div>
  <div class="mb_parallax_overlay">
    <h1>Bachelors Degree</h1>
    <img class="refImage" src="/images/diploma.jpg" type="image">
  </div>
</div>

<div class="mb_parallax_container" id="mb_parallax_two_refference">
  <div class="mb_parallax_overlay">
      <h1>Machine Learning A-Z</h1>
      <img class="refImage" src="/images/Umachinelearning.jpg" type="image">
  </div>
</div>

<div class="mb_parallax_container" id="mb_parallax_three_refference">
  <div class="mb_parallax_overlay">
      <h1>Web Bevelopment Bootcamp</h1>
      <img class="refImage" src="/images/Uwebdevbootcamp.jpg" type="image">
  </div>
</div>




<%include ./partials/footer%>
