<%include ./partials/header%>

<div class="mb_parallax_container" id="mb_parallax_one">
  <div class="page title">
    <div>Refferences</div>
  </div>
  <div class="mb_parallax_overlay">
    <h1>Basic HTML & CSS for multiple  
      parallax background effect</h1>
  </div>
</div>

<div class="mb_parallax_container" id="mb_parallax_two">
  <div class="mb_parallax_overlay"></div>
</div>

<div class="mb_parallax_container" id="mb_parallax_three">
  <div class="mb_parallax_overlay">
    <h2>
    Marc Barbeau is a font end developer looking for work in Denver CO or remote.
    <br>
    <a href="www.marcbarbeau.com">
      Learn more
    </a>
    </h2>
  </div>
</div>




<%include ./partials/footer%>
