
fixed.ui.inverted.menu{
    padding-bottom: 10px;
    margin-bottom: 10px;
}
p{  
    color: rgb(252, 252, 252);
}


#background{
    background-image: url('/images/net.png');
    background-attachment: fixed;
    overflow-y:auto;
}

.page.title{    
    padding: 10px;   
    background: rgba(4, 3, 3, 0.5);
    margin: 50px;
    height: 10vh;
    
    font-family: 'Allerta Stencil';   
    text-align: center;
    font-size: 50px;
    color: white;
    
    

    border-color: rgba(134, 170, 165, 0.679);
    border-width: 8px;
    border-style: solid;
    border-radius: 20px ;
    line-height: 100%;
}


.item{
    background-color: #000000;
}

.ui.raised.segment{
    background-color: rgba(36, 96, 174, 0.679);
    margin: 50px;
}

div#base{
    margin: auto;
    color: white;
    width: 60vh;
    text-align: left;
}



#erik.column{
    background-color: red;
}

/*competences paralax*/
body {
    margin: 0;
  }
  
  h1,
  h2 {
    padding-top: 10vh;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .mb_parallax_container {
    height: 100vh;
    width: 100vw;
    /* border-bottom: 10px solid black; */
    padding-top: 20vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .mb_parallax_overlay {
    height: 60vh;
    width: 60vw;
    margin: auto;
    background-color: black;
    opacity: .8;
    border-radius: 20px;
  }
  
  #mb_parallax_one {
    padding-top:5vh;
    background-image: url('/images/mountain1.jpg');
  }
  
  #mb_parallax_two {
    background-image: url('/images/parallax.jpg');
  }
  
  #mb_parallax_three {
    background-image: url('/images/dna.jpg');
  }