
fixed.ui.inverted.menu{
    padding-bottom: 10px;
    margin-bottom: 10px;
}
p{  
    color: rgb(252, 252, 252);
    font-size: 20px;
}
b.welcome{
  text-align: center;
  margin-bottom: 10px;
}
.titleWrapp{
  text-align: center;
  margin: 20px 20px 20px 20px;
}
.tableWrapp{
  display: inline-block;
  /* background-color: yellow; */
  width:40%;
}

.centerWrapp{
  text-align: center;
  /* background-color: blue; */
}
.page.title{    
    padding: 10px 30px 10px 30px;  
    background: rgba(4, 3, 3, 0.5);
    height: 90px;
    display: inline-block;
    
    font-family: 'Allerta Stencil';   
    text-align: center;
    font-size: 50px;
    color: white;   

    border-color: rgba(134, 170, 165, 0.679);
    border-width: 8px;
    border-style: solid;
    border-radius: 20px ;
    line-height: 100%;   
}

.page.title.smaller{    
  padding: 10px 30px 10px 30px;  
  background: rgba(4, 3, 3, 0.5);
  height: 70px;
  display: inline-block;
  
  font-family: 'Allerta Stencil';   
  text-align: center;
  font-size: 30px;
  color: white;   

  border-color: rgba(134, 170, 165, 0.679);
  border-width: 8px;
  border-style: solid;
  border-radius: 20px ;
  line-height: 100%;   
}



.competence.title{
  padding: 10px;   
  background: rgba(4, 3, 3, 0.5);
  height: auto;
  display: inline-block;

  
  font-family: 'Allerta Stencil';   
  text-align: center;
  font-size: 50px;
  color: white;   

  border-color: rgba(134, 170, 165, 0.679);
  border-width: 8px;
  border-style: solid;
  border-radius: 20px ;
  line-height: 100%;
}

td.langSkill {
  background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(230, 230, 230) 17%, rgb(201, 201, 201) 33%, rgb(167, 167, 167) 67%, rgb(143, 143, 143) 83%, rgb(130, 130, 130) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */  
}
td.center.aligned.seperator{
  background-color: rgb(38, 38, 38);
}
th.wide.languages{
  width: 150px;
  text-align: center;
  vertical-align: middle;
}

th.wide.courses{
  width:250px;
}
th.wide.courseSource{
  width:15opx;
}



div.portrait{
    position: absolute;
}
img.portrait{    
    width:300px;    
    height: auto;   
    max-width: 240;
    min-width: 240;
    shape-outside: url('/images/erik.png');
    shape-image-threshold: 0.5;
    float: left;
}

ui.inverted.segment{
  width:70vh;
  text-align: left;
}

#bioList{
  text-align: left;
}

.bigItem{
  font-size: 20px;
  /* background-color: blue; */
  font-weight: bold;
}
.smallItem{
  font-size: 16px;
/*   background-color: red; */
  margin-left:7%;
  font-weight: bold;
}
.smallItem.I{
  font-size: 16px;
/*   background-color: red; */
  margin-left:14%;
  font-weight: normal;
}

.inbetween{
  padding: 10px;   
  background: rgba(4, 3, 3, 0.5);
  height: auto;
  display: inline-block;  
  text-align: center;
  font-size: 30px;
  color: white;
  border-color: rgba(134, 170, 165, 0.679);
  border-width: 2px;
  border-style: solid;
  border-radius: 20px ;
  line-height: 100%;

}

.contactsInlineWrapp{
  display: inline-block;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 15px;
  padding: 1%;
}
.contactsCenterWrapp{
  text-align: center;
}
p.notes{
  text-align: left;
  font-size: 18px;
}

.refImage{
  width:100%;
  height: auto;
}
/*competences paralax*/


  /*Comnpetences*/
