#diving1{
    height:300px;
    width: auto;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin: 10px;
}
#gautsch{
    height:300px;
    width: auto;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin: 10px;
}

#hiking1{
    height:300px;
    width: auto;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin: 10px;
}
#hiking2{
    height:300px;
    width: auto;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin: 10px;
}
#hiking3{
    height:300px;
    width: auto;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin: 10px;
}