#mb_parallax_one_landing {
    padding-top:5vh;
    background-image: url('/images/space.jpg');
  }
  
  #mb_parallax_two_landing {
    background-image: url('/images/creator.jpg');
  }
  
  #mb_parallax_three_landing {
    background-image: url('/images/bohinjmountains.jpg');
  }

  #mb_parallax_four_landing {
    background-image: url('/images/lichking.jpg');
  }

  #mb_parallax_five_landing {
    background-image: url('/images/lek.jpg');
  }
  #mb_parallax_six_landing {
    background-image: url('/images/ai.jpg');
  }