div.project{
   
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

div.projectTitle{
    background-color: white;
    
}

.projectTitle h1{
    color:black;
}
#more{
    margin-left:37%;
    margin-bottom: 10px;
}
#projectsSummary{
    height: auto;
    width: 90vw;
    margin: auto;
    padding: 5vh;
    background-color: rgba(0, 0, 0, 0.741);
    border-radius: 20px;
    overflow: auto;    
    overflow-y: auto; 
}


#git{
    text-align: left;
}

#gitbanner{
    color: rgb(194, 194, 64);
    font-size: 35px;
    text-align: left;
    
    
}
.gitCenter{
    display: inline-block;
    width:25%;
    margin: 1% 1% 1% 1%;

}
#gitLink{
   text-align: center;
    
}
.project.git{
    border-style: solid;
    border-color: rgb(194, 194, 64);
    border-radius: 10px;
}
div#gitbanner{
    display: inline-block;
    width: 70%;
   
    margin: 1% 1% 1% 1%;
}

#abstract{
    color:white;
    text-decoration: overline;
    text-align: left;    
}
#RG{
    height:300px;
    width: auto;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}

#mean{
    height:300px;
    width: auto;
}
.RG{
    display: inline-block;
}

.RGWrap{
    text-align: center;
}

.ulcenterWrapp{
    text-align: center;
}

.ulinlineWrapp{
    display: inline-block;
}

ul.todos{
    color: white;
    text-align: left;
    font-size: 16px;
}
