#mb_parallax_one_refference {
    padding-top:5vh;
    background-image: url('/images/hexagon.jpg');
  }
  
  #mb_parallax_two_refference {
    background-image: url('/images/hexagon.jpg');
  }
  
  #mb_parallax_three_refference {
    background-image: url('/images/hexagon.jpg');
  }
